.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.card {
  background-color: #f7f9fd !important;
  float: right;
  max-height: 240px;
}

.row {
  margin: 4rem 0;
}

.posts {
  margin-bottom: 10rem;
}

@media screen and (min-width: 400px) {
  .post {
    padding-top: 4rem;
  }
  .card {
    padding: 1.5rem;
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 800px) {
  .post {
    padding: 2rem;
    padding-bottom: 2rem;
  }

  .card {
    padding: 1.5rem;
  }
}
