.home-start {
  background-color: #f7f9fd;
  max-width: 100%;
  margin-bottom: 10rem;
}

.home-start > div > p {
  padding: 3rem;
  margin-top: 15%;
}

.home-start > div > a > button {
  float: right;
}
.home-img {
  float: right;
  width: 50%;
}

.home-img::after {
  content: "";
  clear: both;
  display: table;
}
