.home-start {
  background-color: #f7f9fd;
  max-width: 100%;
  height: 400px;
}

.home-start > div > p {
  padding: 3rem;
  text-align: center;
  vertical-align: middle;
}

.home-start > div > a > button {
  float: right;
}
.home-img {
  height: 400px;
  float: right;
  width: -webkit-fill-available;
  content: "";
  clear: both;
  display: table;
}
